/* MarketStyles.css */
.container-market {
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f5f5f5;
    background-image: url('https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: left center; 
  }
  
  .content-market {
    width: 600px;
    height: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease; 
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .heading-market {
    font-size: 3.3rem;
    font-weight: 600;
    background-color: #301934;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  
  .text-market {
    font-size: 25px;
    background-color: #301934;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 70px;
  }
