.container-product {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 6rem;
    opacity: 0;
    transform: translateY(10px); /* Initial translate to create fade-in effect */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.container-product.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.product-content{
    width: 60%;
    padding-left: 2rem;
}

.product-content p {
    color: gray;
    padding-right: 10rem;
    text-align: justify;
    font-size: 1.5rem;
    flex: 1;
    margin-right: 3rem;
    width: auto;
}

.product-img {
    flex-shrink: 0;
    align-items: center;
    width: 45%;

    
}

@media screen and (max-width:1040px) {
    .product-img {
        display: none; 
    }

    .container-product {
        padding: 1rem; 
    }

    .product-content {
        width: 100%; 
        padding-left: 0; 
    }

    .product-content p {
        padding-right: 1rem;
        margin-right: 0;
        text-align: center; 
    }
}

